.modal {
    position: absolute;
    padding: 40px;
    width: auto;
    min-height: auto;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 480px) {
        width: 450px;
        min-height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;
    }

}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translate(-50%, -50%);

}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #0000001A;
}

.close-btn__icon {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .close-btn:hover &,
    .close-btn:focus & {
        fill: var(--main-hover-focus-color);
    }

}

.modal__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }

}