:root {
    --hero-footer-background-color: #2F303A;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #FFFFFF;
    --main-hover-focus-color: #2196F3;
    --portfolio-btn-text-color: #212121;
    --second-background-color: #F5F4FA;
    --header-link-color: #212121;
    --main-logo-color: #2196F3;
    --header-border-color: #ECECEC;
    --team-border-color: #EEEEEE;
    --main-container-padding: 15px;
    --icon-color: #AFB1B8;
    --main-font: Roboto, sans-serif;
    --second-font: Raleway, sans-serif;
}